@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: linear-gradient(to right top, #f3b6f0, #f706ff);
    width: 100%;
    min-height: 100vh;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease-in;
}
li{
    list-style: none;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
li:hover{transform: scale(1.1);}
header{
    width: 100%;
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}
header .menu{
    max-width: 300px;
    position: relative;
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .menu li{
    margin: 0 15px;
    padding: 10px 20px;
}
header label{
    position: absolute;
    z-index: 101;
    top: 40px;
    right: 50px;
    display: none;
}

header label i{
    font-size: 1.5rem;
    color: #000;
}
.container{
    position: relative;
    z-index: 100;
    min-height: 75vh;
     width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 100px;
    overflow: hidden;
    text-align: left;
}
.container .text-box{
    width: 600px;
    padding: 2px;
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translate(10%, -50%);
}
.container .text-box h2{ font-size: 4rem;}
.container .text-box h2 span{
    padding: 0 15px;
    background-color: #000;
    color: #fff;
}
.container .text-box p{
    font-size: 1rem;
    margin: 10px 0;
    text-align: left;
}
.container .text-box a{
    display: inline-block;
    padding: 20px 50px;
    border: 3px rgb(250, 121, 0) solid;
    color: rgb(255, 255, 255);
    background-color: rgb(252, 131, 18);
    border-radius: 10%;
}
.container .text-box a:hover{
    background-color: rgb(33, 83, 245);
    color: #fff;
}
label{cursor: pointer;}
.thumb{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    padding: 10px;
    z-index: 101;
}
.thumb li{
    margin: 10px 0;
    transition: all 0.3s ease-in;
}
.thumb img{max-width: 300px;}
.shape{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(60% at right);
    transition: all 0.5s ease-in;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
}
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 10rem;
  width: 10rem;
  position: absolute;
  border-radius: 48%;
}
.circle1 {
  top: 1%;
  left: 1%;
  position: fixed;
}
.circle2 {
  bottom: 1%;
  left: 38%;
  transition: 0.5ms;
}
.circle2:hover{
    transition: 0.5ms;
}
footer{
    width: 100%;
    position: fixed;
    z-index: 101;
    bottom: 0;
    left: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
.fa-telegram {
    background: rgb(242, 249, 250);
    color: rgb(34, 158, 217);
    border: rgb(67, 219, 230);
    border-radius: 50px;
    transition: transform 0.05s;
}
.fa-telegram:hover {
    transform: scale(1);
}
.fa-youtube {
    color: #ff0000;
    transition: transform 0.05s;
}
.fa-youtube:hover {
    transform: scale(1);
}
.fa-instagram {
    color: transparent;
    background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    background: -webkit-radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
    );
    background-clip: text;
    -webkit-background-clip: text;
    transition: transform 0.05s;
}
.fa-instagram:hover {
    transform: scale(1);
}
.fa-github {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: rgb(255, 255, 255);
    border-radius: 50px;
    transition: transform 0.05s;
}
.fa-github:hover {
    transform: scale(1);
}
.icon-bar {
    page-break-inside: auto;
    display: flex;
    align-items: center;
    padding: 1.75rem 1.25rem 0.5rem 1.25rem;
    justify-content: space-evenly;
    font-size: 1.3rem;
  }
footer .credit{
    text-align: right;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-family: Roboto;
}

/* media query result for phone */
@media only screen and (min-width: 480px) {
    body{
        background: linear-gradient(to right top, #f3b6f0, #f706ff);
        width: 100%;
        min-height: 100vh;
    }
    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        transition: all 0.3s ease-in;
    }
    li{
        list-style: none;
        cursor: pointer;
        transition: all 0.3s ease-in;
    }
    li:hover{transform: scale(1.1);}
    header{
        width: 90%;
        padding: 20px 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-x: hidden;
    }
    header .menu{
        max-width: 300px;
        position: relative;
        z-index: 101;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header .menu li{
        margin: 0 15px;
        padding: 10px 20px;
    }
    header label{
        position: absolute;
        z-index: 101;
        top: 40px;
        right: 50px;
        display: none;
    }
    
    header label i{
        font-size: 1.5rem;
        color: #000;
    }
    .container{
        position: relative;
        z-index: 100;
        min-height: 75vh;
         width: 100%;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 20px;
        margin-bottom: 100px;
        overflow: hidden;
        text-align: left;
    }
    .container .text-box{
        width: 300px;
        z-index: 2 ;
        padding: 2px;
        text-align: left;
        position: absolute;
        top: 50%;
        transform: translate(10%, -50%);
    }
    .container .text-box h2{ font-size: 2rem;}
    .container .text-box h2 span{
        padding: 0 15px;
        background-color: #000;
        color: #fff;
    }
    .container .text-box p{
        font-size: 1rem;
        margin: 10px 0;
        text-align: left;
    }
    .container .text-box a{
        display: inline-block;
        padding: 20px 50px;
        border: 3px rgb(250, 121, 0) solid;
        color: rgb(255, 255, 255);
        background-color: rgb(252, 131, 18);
        border-radius: 10%;
    }
    .container .text-box a:hover{
        background-color: rgb(33, 83, 245);
        color: #fff;
    }
    label{cursor: pointer;}
    .thumb{
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        right: 2px;
        padding: 1px;
        z-index: 1;
    }
    .thumb li{
        margin: 10px 0;
        transition: all 0.3s ease-in;
    }
    .thumb img{max-width: 150px;}
    .shape{
        z-index: -1;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        clip-path: circle(60% at right);
        transition: all 0.5s ease-in;
        background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3)
          );
    }
    .circle1,
    .circle2 {
      background: white;
      background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.3)
      );
      height: 10rem;
      width: 10rem;
      position: absolute;
      border-radius: 48%;
    }
    .circle1 {
      top: 1%;
      left: 1%;
      position: fixed;
    }
    .circle2 {
      bottom: 1%;
      left: 38%;
      transition: 0.5ms;
    }
    .circle2:hover{
        transition: 0.5ms;
    }
    footer{
        width: 100%;
        position: fixed;
        z-index: 101;
        bottom: 0;
        left: 0;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
    }
    .fa-telegram {
        background: rgb(242, 249, 250);
        color: rgb(34, 158, 217);
        border: rgb(67, 219, 230);
        border-radius: 50px;
        transition: transform 0.05s;
    }
    .fa-telegram:hover {
        transform: scale(1);
    }
    .fa-youtube {
        color: #ff0000;
        transition: transform 0.05s;
    }
    .fa-youtube:hover {
        transform: scale(1);
    }
    .fa-instagram {
        color: transparent;
        background: radial-gradient(
            circle at 30% 107%,
            #07184E 0%,
            #07184E 5%,
            #07184E 45%,
            #07012F 60%,
            #07012F 90%
        );
        background: -webkit-radial-gradient(
            circle at 30% 107%,
            #07184E 0%,
            #07184E 5%,
            #07184E 45%,
            #07012F 60%,
            #07012F 90%
        );
        background-clip: text;
        -webkit-background-clip: text;
        transition: transform 0.05s;
    }
    .fa-instagram:hover {
        transform: scale(1);
    }
    .fa-github {
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border: rgb(255, 255, 255);
        border-radius: 50px;
        transition: transform 0.05s;
    }
    .fa-github:hover {
        transform: scale(1);
    }
    .icon-bar {
        page-break-inside: auto;
        display: flex;
        align-items: center;
        padding: 1.75rem 1.25rem 0.5rem 1.25rem;
        justify-content: space-evenly;
        font-size: 1.3rem;
      }
    footer .credit{
        text-align: right;
        color: rgb(0, 0, 0);
        font-size: 1.2rem;
        font-family: Roboto;
    }
    

    
}
/* 767 media query */
/* media query result for phone */
@media only screen and (min-width: 767px) {
    body{
        background: linear-gradient(to right top, #0E0EA2, #FFFFFF);
        width: 100%;
        min-height: 100vh;
    }
    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        transition: all 0.3s ease-in;
    }
    li{
        list-style: none;
        cursor: pointer;
        transition: all 0.3s ease-in;
    }
    li:hover{transform: scale(1.1);}
    header{
        width: 90%;
        padding: 20px 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-x: hidden;
    }
    header .menu{
        max-width: 300px;
        position: relative;
        z-index: 101;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header .menu li{
        margin: 0 15px;
        padding: 10px 20px;
    }
    header label{
        position: absolute;
        z-index: 101;
        top: 40px;
        right: 50px;
        display: none;
    }
    
    header label i{
        font-size: 1.5rem;
        color: #000;
    }
    .container{
        position: relative;
        z-index: 100;
        min-height: 75vh;
         width: 100%;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 20px;
        margin-bottom: 100px;
        overflow: hidden;
        text-align: left;
    }
    .container .text-box{
        width: 300px;
        z-index: 2 ;
        padding: 2px;
        text-align: left;
        position: absolute;
        top: 50%;
        transform: translate(10%, -50%);
    }
    .container .text-box h2{ font-size: 2rem;}
    .container .text-box h2 span{
        padding: 0 15px;
        background-color: #000;
        color: #fff;
    }
    .container .text-box p{
        font-size: 1rem;
        margin: 10px 0;
        text-align: left;
    }
    .container .text-box a{
        display: inline-block;
        padding: 20px 50px;
        border: 3px rgb(250, 121, 0) solid;
        color: rgb(255, 255, 255);
        background-color: rgb(252, 131, 18);
        border-radius: 10%;
    }
    .container .text-box a:hover{
        background-color: rgb(33, 83, 245);
        color: #fff;
    }
    label{cursor: pointer;}
    .thumb{
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        right: 2px;
        padding: 1px;
        z-index: 1;
    }
    .thumb li{
        margin: 10px 0;
        transition: all 0.3s ease-in;
    }
    .thumb img{max-width: 250px;}
    .shape{
        z-index: -1;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        clip-path: circle(60% at right);
        transition: all 0.5s ease-in;
        background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3)
          );
    }
    .circle1,
    .circle2 {
      background: white;
      background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.3)
      );
      height: 10rem;
      width: 10rem;
      position: absolute;
      border-radius: 48%;
    }
    .circle1 {
      top: 1%;
      left: 1%;
      position: fixed;
    }
    .circle2 {
      bottom: 1%;
      left: 38%;
      transition: 0.5ms;
    }
    .circle2:hover{
        transition: 0.5ms;
    }
    footer{
        width: 100%;
        position: fixed;
        z-index: 101;
        bottom: 0;
        left: 0;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
    }
    .fa-telegram {
        background: rgb(242, 249, 250);
        color: rgb(34, 158, 217);
        border: rgb(67, 219, 230);
        border-radius: 50px;
        transition: transform 0.05s;
    }
    .fa-telegram:hover {
        transform: scale(1);
    }
    .fa-youtube {
        color: #0079E4;
        transition: transform 0.05s;
    }
    .fa-youtube:hover {
        transform: scale(1);
    }
    .fa-instagram {
        color: transparent;
        background: radial-gradient(
            circle at 30% 107%,
            #07184E 0%,
            #07184E 5%,
            #07184E 45%,
            #07012F 60%,
            #07012F 90%
        );
        background: -webkit-radial-gradient(
            circle at 30% 107%,
            #07184E 0%,
            #07184E 5%,
            #07184E 45%,
            #07012F 60%,
            #07012F 90%
        );
        background-clip: text;
        -webkit-background-clip: text;
        transition: transform 0.05s;
    }
    .fa-instagram:hover {
        transform: scale(1);
    }
    .fa-github {
        background: rgb(10,74,183);
        color: rgb(0, 0, 0);
        border: rgb(10, 74, 183);
        border-radius: 50px;
        transition: transform 0.05s;
    }
    .fa-github:hover {
        transform: scale(1);
    }
    .icon-bar {
        page-break-inside: auto;
        display: flex;
        align-items: center;
        padding: 1.75rem 1.25rem 0.5rem 1.25rem;
        justify-content: space-evenly;
        font-size: 1.3rem;
      }
    footer .credit{
        text-align: right;
        color: rgb(0, 0, 0);
        font-size: 1.2rem;
        font-family: Roboto;
    }
    

    
}

